/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../../assets/fonts/roboto-v30-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/fonts/roboto-v30-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/roboto-v30-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/roboto-v30-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../../assets/fonts/roboto-v30-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/fonts/roboto-v30-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/roboto-v30-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/roboto-v30-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/roboto-v30-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/roboto-v30-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
}
.container {
  margin: 0 auto;
}

p {
  margin: 0;
}

/* ------------ header start ------------ */
.header {
  background-color: #000000;
  color: #ffffff;
  position: relative;
}
.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 10px 12px 10px;
  max-width: 1180px;
}

.logonav_wrapper {
  display: flex;
  justify-content: space-between;
}

.zoo_logo {
  width: 82px;
  height: 52px;
  text-align: center;
  border: 1px solid white;
  padding-top: 2px;
  position: relative;
  margin-right: 64px;
  transition: .1s;
}

.zoo_logo:hover {
  transform: scale(1.05);
  filter: invert(40%) sepia(90%) saturate(1000%);
}

h1 {
  margin: 0;
  font-size: 19px;
  font-weight: 400;
  line-height: 23px;
}

.petstory_logo {
  position: absolute;
  top: 24px;
  left: 9px;
}

.nav_list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  gap: 58px;
}

.nav_link, .figma_link {
  transition: .2s;
}

.nav_link, .logo_title, .figma_link {
  text-decoration: none;
  color: #ffffff;
}

.nav_link:hover, .figma_link:hover {
  color: orange;
}

.donate_link {
  color: orange;
}

/* ------------ header end ------------ */

/* ------------ section_panda_bg start------------ */

.section_panda_bg {
  background: url('../../assets/images/giant_panda_donat_pg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 388px;
}

/* ------------ section_panda_bg end ----------- */

/* ------------ section_donate start ----------- */

.section_donate {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.donate_wrapper {
  max-width: 1181px;
  padding: 40px 10px 180px 10px;
  margin: 0 auto;
  color: #ffffff;
}

h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-right: 11px;
  color:#FE9013;
}

h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 46.8px;
  margin: 0;
}

.donate_info {
  color:#FE9013;
}

.donate_description {
  font-weight: 400;
  line-height: 22px;
  font-size: 16px;
  margin: 9px 10px 46px 0;
}

.donate_pay_wrapper {
  padding: 40px 92px 62px 92px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  color:#333B41;
}

.subtitle{
  font-weight: 400;
  line-height: 28.8px;
  font-size: 24px;
  margin-bottom: 60px;
}

.panda_diet {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-right: 15px;
  margin-bottom: 48px;
}

.diets_count {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding-top: 48px;
}

.amount_of_days_donate {
  width: 82px;
  height: 58px;
}

.x_icon {
  width: 14px;
  height: 14px;
  margin: 25px 64px 0 11px;
}

.input_gray {
  width: 100%;
  height: 27px;
  margin: 17px 0 14px 0;
  background: #404950;
  position: relative;
}

.donate_input {
  display: flex;
  flex-direction: column;
}

#donate_input_value {
  width: 97.5%;
  height: 2px;
  margin-left: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  background: #72828E;
  position: relative;
  z-index: 5;
}
#donate_input_value::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../../assets/images/roller_icon.png');
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.yellow_points {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 94.3%;
  top: 8px;
  left: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.input_point {
  width: 10px;
  height: 10px;
  background-size: 10px;
  background: #FFEE2E;
  border-radius: 50%;
  position: relative;
  z-index: 6;
  transition: .2s;
}
.input_point:hover {
  cursor: pointer;
  z-index: 4;
  background:#72828E;
  transform: scale(1.5);
}

.amount {
  padding-left: 4px;
  color: #000000;
}

.donate_money {
  width: 100%;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}

.pay_number:nth-child(1) {
  margin-right: -15px;
}
.pay_number:nth-child(2) {
  margin-right: -16px;
}
.pay_number:nth-child(3) {
  margin-right: -12px;
  filter: invert(40%) sepia(90%) saturate(1000%);
}
.pay_number:nth-child(7) {
  margin-right: 15px;
}

.money_amount {
  font-size: 26px;
  font-weight: 500;
  line-height: 36px;
}

.another_amount {
  margin: 0 auto;
  position: relative;
  margin-bottom: 25px;
}

.another_amount_input {
  padding: 17px 70px 17px 9px;
  border-radius: 5px;
  background: transparent;
  border-color: #929699;
}

.dollars_gray {
  position: absolute;
  top: 17px;
  right: 10px;
}

.pay_days {
  display: flex;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 3px 14px 0 0;
  gap: 50px;
}

.radiobtn_wrapper {
  display: flex;
  gap: 10px;
}

.pay_radiobtn {
	position: absolute;
	z-index: -1;
  opacity: 0;
}

.pay_radiobtn + label::before {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: -2px;
  left: -1px;
  position: relative;
  display: inline-block;
  visibility: visible;
  border: 1px solid #FE9013;
}

.pay_radiobtn:checked + label::before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: green;
  border: none;
  display: inline-block;
  visibility: visible;
}

.btn {
  text-transform: uppercase;
  color:#ffffff;
  border: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  cursor: pointer;
  padding: 16px 0px 16px 6px;
  margin: 0 auto;
  margin-bottom: 31px;
  width: 298px;
  font-weight: 500;
  line-height: 22px;
}

.donate_link_btn {
  margin: 0 auto;
}

.btn:hover {
  background: #E47209;
  transform: scale(1.05);
}

.btn:focus, .btn:active {
  background: #4B9200;
  transform: scale(1.05);
}

.share {
  margin: 0 auto;
  padding-left: 5px;
}

/* ------------ section_donate end ----------- */

/* ------------ footer start ----------- */

.footer {
  background-color: #000000;
  color: #ffffff;
  position: relative;
}

.footer_container {
  max-width: 1181px;
  padding: 41px 10px 50px 10px;
}

.petstory_logo_wrapper {
  width: 82px;
  height: 52px;
  text-align: center;
  border: 1px solid white;
  padding-top: 2px;
  position: relative;
  margin-right: 64px;
  transition: .1s;
}

.petstory_logo_wrapper:hover {
  transform: scale(1.05);
  filter: invert(40%) sepia(90%) saturate(1000%);
}

.petstory_logo {
  position: absolute;
  top: 24px;
  left: 10px;
}

.logo_title2 {
  font-size: 19px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
}

.donate_volunteers_btn {
  border-radius: 5px;
  margin-bottom: 44px;
}

.footer_top {
  display: flex;
  justify-content: space-between;
}

.footer_top_left {
  display: flex;
  flex-direction: column;
  gap: 68px;
}

.footer_top_right {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.subtitle2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.enter_email {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.email {
  border: 1px solid orange;
  border-radius: 5px;
  outline: none;
  appearance: none;
  background: none;
  color: #BDBDBD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 11px;
  padding-right: 33px;
}

.submit_btn {
  padding: 10px 39px;
  cursor: pointer;
  background-color: #ffffff;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  transition: .2s;
}

.submit_btn:hover {
  transform: scale(1.05);
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
}

.social_nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 0;
  margin: 0;
}

.social_nav_link {
  display: flex;
  gap: 12px;
  align-items: center;
  font-weight: 400;
  line-height: 22px;
}

.soc_web {
  text-decoration: none;
  color: #ffffff;
  padding-top: 4px;
  transition: .1s;
}

.soc_web:hover {
  color: orange;
}

.footer_icon_wrapper {
  background: rgba(196, 196, 196, 0.5);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: .1s;
}

.footer_icon_wrapper:hover {
  background: rgb(206, 134, 0);
}

.footer_icon_wrapper:hover .social_logo {
  filter: invert(100%);
}

.social_logo {
  margin: 0 auto;
}

.footer_nav {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-content: flex-end;
  padding: 0;
  margin: 0;
  margin-left: 121px;
  gap: 58px;
}

.project_author {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 100;
  line-height: 22px;
  gap: 10px;
  opacity: 0.5;
}

/* ------------ footer end ----------- */