
.donate_link {
  color: orange;
  cursor: default;
}
.donate_link:hover:after,
.donate_link:focus:after {
	width: 0%
}

/* ------------ section_donate start ----------- */

.panda_bg {
  background: url('../../assets/images/giant_panda_donat_pg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 386px;
}

.section_donate {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.donate_wrapper {
  max-width: 1181px;
  padding: 40px 10px 180px 10px;
  margin: 0 auto;
  color: #ffffff;
}

h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-right: 11px;
  color:#FE9013;
}

h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 46.8px;
  margin: 0;
}

.donate_info {
  color:#FE9013;
}

.donate_description {
  font-weight: 400;
  line-height: 22px;
  font-size: 16px;
  margin: 9px 10px 46px 0;
}

.donate_pay_wrapper {
  padding: 40px 92px 63px 92px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  color:#333B41;
}

.subtitle{
  font-weight: 400;
  line-height: 28.8px;
  font-size: 24px;
  margin-bottom: 60px;
}

.panda_diet {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-right: 15px;
  margin-bottom: 48px;
}

.diets_count {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding-top: 48px;
}

.amount_of_days_donate {
  width: 82px;
  height: 58px;
}

.x_icon {
  width: 14px;
  height: 14px;
  margin: 25px 64px 0 11px;
}

.input_gray {
  width: 100%;
  height: 27px;
  margin: 17px 0 14px 0;
  background: #404950;
  position: relative;
}

.input_gray_line {
  position: absolute;
  height: 2px;
  top: 12px;
  right: 30px;
  width: 94.2%;
  background: #72828E;
}

.donate_input {
  display: flex;
  flex-direction: column;
}

#donate_input_value {
  width: 97.5%;
  height: 2px;
  margin-left: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  background: transparent;
  position: relative;
  z-index: 5;
}
#donate_input_value::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../../assets/images/roller_icon.png');
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.yellow_points {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 94.3%;
  top: 8px;
  left: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.input_point {
  width: 10px;
  height: 10px;
  background-size: 10px;
  background: #FFEE2E;
  border-radius: 50%;
  position: relative;
  z-index: 6;
  transition: .2s;
}
.input_point:hover {
  cursor: pointer;
  z-index: 4;
  background:#72828E;
  transform: scale(1.5);
}

.amount {
  padding-left: 4px;
  color: #000000;
}

.donate_money {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.pay_number {
  display: flex;
  align-items: flex-end;
  width: 67px;
}

.dollars_black {
  margin-bottom: 8px;
  margin-right: 2px;
}

.active_number {
  filter: invert(40%) sepia(90%) saturate(1000%);
}
/*.pay_number:nth-child(1) {
  margin-right: -15px;
}
.pay_number:nth-child(2) {
  margin-right: -16px;
}
.pay_number:nth-child(3) {
  margin-right: -12px;
}
.pay_number:nth-child(7) {
  margin-right: 15px;
}*/

.money_amount {
  font-size: 26px;
  font-weight: 500;
  line-height: 36px;
}

.another_amount {
  margin: 0 auto;
  position: relative;
  margin-bottom: 25px;
}

.another_amount_input {
  padding: 17px 75px 17px 10px;
  border-radius: 5px;
  background: transparent;
  border-color: #929699;
}

.another_amount::after {
  content: "Введите число от 0 до 9999";
  position: absolute;
  left: 0;
  top: 110%;
  background: #ffffff;
  color: #000000;
  border: 1px solid #929699;
  text-align: center;
  visibility: var(--visibility);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 0;
  width: 100%;
  z-index: 555;
}

.dollars_gray {
  position: absolute;
  top: 17px;
  right: 10px;
}

.pay_days {
  display: flex;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 3px 14px 0 0;
  gap: 50px;
}

.radiobtn_wrapper {
  display: flex;
  gap: 10px;
}

.pay_radiobtn {
	position: absolute;
	z-index: -1;
  opacity: 0;
}

.pay_radiobtn + label::before {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: -2px;
  left: -1px;
  position: relative;
  display: inline-block;
  visibility: visible;
  cursor: pointer;
  border: 1px solid #FE9013;
}

.pay_radiobtn:checked + label::before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: green;
  border: none;
  display: inline-block;
  visibility: visible;
}

.btn {
  text-transform: uppercase;
  color:#ffffff;
  border: none;
  background: #F9804B linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  cursor: pointer;
  padding: 16px 0px 16px 9px;
  margin: 0 auto;
  margin-bottom: 31px;
  width: 298px;
  font-weight: 500;
  line-height: 22px;
  transition: .3s;
}

.btn:hover {
  background: #E47209;
  transform: scale(1.05);
}

.btn:focus, .btn:active {
  background: #4B9200;
  transform: scale(1.05);
}

.share {
  margin: 0 auto;
  padding-left: 5px;
}

/* ------------ section_donate end ----------- */

/* ------------ footer start ----------- */

.footer_container {
  padding: 42px 10px 49px 10px;
}

.donate_volunteers_btn {
  border-radius: 5px;
  margin-bottom: 45px;
  padding-top: 17px;
  padding-left: 0;
}

/* ------------ footer end ----------- */