@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
  }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}
.body_wrapper {
  position: relative;
}
.body_opacity_popup {
  position: fixed;
  visibility: hidden;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 8000;
  transition: 0.5s ease-in-out;
}
.body_opacity_popup_active {
  visibility: visible;
  backdrop-filter: blur(4px);
}
.settings_menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: translateX(-200%);
  left: 6vw;
  bottom: 8vh;
  width: 350px;
  border-radius: 30px;
  z-index: 9000;
  background-color: black;
  padding: 20px 20px 40px 20px;
  border: 1px solid white;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
  transition: 0.8s ease-in-out;
  
}
.settings_menu_active {
  transform: translateX(0);
  opacity: 0.7;
}
.settings_title {
  font-size: 26px;
}
.settings_item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  text-align: start;
  padding: 8px;
  background-color: gray;
  border-radius: 10px;
  text-shadow: 2px 2px 4px black, 0 0 5px black;
}
.item_title {
  text-align: center;
}
.item_wrapper {
  display: flex;
  justify-content: space-between;
}
.switch {
	position: absolute;
	z-index: -1;
  opacity: 0;
}
.switch + label {
  position: relative;
  display: inline-block;
  background: #c3c0c0;
  cursor: pointer;
  width: 30px;
  height: 15px;
  border-radius: 10px;
}
.switch + label::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: #ffffff;
  top: 1.5px;
  left: 2px;
  width: 12px;
  height: 12px;
  transition: 0.5s;
}
.switch:checked + label::before {
  margin-left: 13px;
}
.switch:checked + label {
  background:#ff7b00;
  opacity: 0.9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%; 
  height: 30vh;
  min-height: 220px; 
  padding: 20px;
}

.player {
  display: flex;
  z-index: 5000;
  gap: 20px;
  box-shadow: 2px 2px 6px rgb(255, 255, 255);
  border-radius: 10px;
  padding: 15px;
  margin-right: 20px;
  transition: opacity 0.2s linear, visibility 0.2s linear;
}
.player_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.player_info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.song_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.song_name {
  text-align: left;
  font-size: 14px;
  text-shadow: 2px 2px 4px black, 0 0 5px black;
  opacity: .8;
  font-weight: 600;
  padding-left: 20px;
  padding-bottom: 10px;
}
.song_duration {
  padding-left: 20px;
  padding-top: 10px;
  text-shadow: 2px 2px 4px black, 0 0 5px black;
}
#audioProgress {
  width: 261px;
  cursor: pointer;
}

.volume_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3px;
}
#audioVolume {
  width: 75px;
  cursor: pointer;
}
.volume_icon {
  background-image: url("../assets/svg/audio_volume.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 20px;
  height: 20px;
  filter: invert(80%);
  cursor: pointer;
}
.volume_icon:hover {
  filter: invert(100%);
}
.mute {
  background-image: url("../assets/svg/audio_volume_mute.svg");
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 30px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
  font-weight: 600;
  text-shadow: 2px 2px 4px black, 0 0 5px black;
  background-image: url("../assets/svg/play.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
}
.song_pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-item:hover {
  opacity: 1;
}

/* .play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
} */

.item-active {
  color: #ff7b00;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}
.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
  text-shadow: 2px 2px 4px black, 0 0 5px black;
  transition: opacity 0.2s linear, visibility 0.2s linear;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  text-shadow: 2px 2px 4px black;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
  text-shadow: 2px 2px 4px black, 0 0 5px black;
  transition: opacity 0.2s linear, visibility 0.2s linear;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px black, 0 0 5px black;
  transition: opacity 0.2s linear, visibility 0.2s linear;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  text-shadow: 2px 2px 4px black, 0 0 5px black;
  transition: opacity 0.2s linear, visibility 0.2s linear;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 0.85;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
  text-shadow: 2px 2px 4px black;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}
.footer_bottom {
  display: flex;
  width: 95vw;
  justify-content: space-between;
}
.my_page {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transition: opacity 0.2s linear, visibility 0.2s linear;
}
.settings_wrapper {
  z-index: 9000;
}
.settings_btn {
  background: url(../assets/svg/settings.svg) no-repeat;
  filter: invert(100%);
  border: none;
  background-size: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 1s ease-in-out;
}
.settings_btn_active {
  transform: rotate(90deg);
}
.todo_btn {
  background: url(../assets/svg/todo.svg) no-repeat;
  filter: invert(100%);
  border: none;
  background-size: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 1s ease-in-out;
}
.footer-link {
  width: 30px;
  height: 30px;
}

.footer-link:hover {
  position: relative;
  bottom: 3px;
}

.rsschool {
  width: 70px;
  height: 35px;
}

.rsschool:hover {
  position: relative;
  bottom: 3px;
}

.footer-text {
  align-items: center;
}

.quote_wrapper {
  transition: opacity 0.2s linear, visibility 0.2s linear;
}
.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
  text-shadow: 2px 2px 4px black, 0 0 5px black;
}

.author {
  min-height: 20px;
  text-shadow: 2px 2px 4px black, 0 0 5px black;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}