html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  width: 1440px;
  Height: 3735px;
  font-family: 'Aleo';
  font-size: 16px;
  font-style: normal;
  line-height: 1.2;
  font-weight: normal;
  background: top url('assets/img/header_img.jpg') no-repeat,
    bottom url('assets/img/bottom_img.jpg') no-repeat;
  margin: 0 auto;
}

.container {
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

/* header */

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 40px;
  padding-left: 30px;
}

.header {
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  width: 1440px;
  height: 90px;
  margin: 0 auto;
}

.portal {
  display: flex;
  align-items: center;
  font-size: 32px;
  color: #ffffff;
}

.portal_icon {
  padding-right: 10px;
}

.portal_text {
  font-family: 'Magra', sans-serif;
  font-weight: 600;
}

.login {
  width: 103px;
  height: 41px;
  background-color: #0D606F;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0px 2px 3px 0px #0D606F;
  font-family: 'Red Hat Text', sans-serif;
}

.login_text {
  padding: 10px 30px;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 0;
}

.nav-link {
  color: #ffffff;
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  transition: .3s;
}

.nav-item {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 16px;
}


/* main */

/* section-preview */

.section-preview {
  margin: 32px 428px 301px 120px;
}

.title {
  color: #ffffff;
  margin: 0 auto;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
}

.title2 {
  font-style: italic;
  font-size: 20px;
  color: #ffffff;
}

.title_content {
  padding-bottom: 46px;
}

.plantrip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 892px;
  height: 95px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.7);
}

.plan {
  border: none;
  outline: none;
  appearance: none;
  background: none;
}

.btn_plan {
  width: 228px;
  height: 59px;
  background-color: #0D606F;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  padding: 10px, 32px, 10px, 32px;
  margin: 18px;
}

.startplan {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}

.plan {
  width: 560px;
  height: 22px;
  margin: 31px 43px 40px 39px;
}

::placeholder {
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  color: #F2785C;
}

.section-title {
  color: #F2785C;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}

/* section-steps */

.section-steps {
  padding-top: 5px;
  width: 1177px;
  height: 247px;
  margin: 0 auto;
}

.threesteps {
  display: flex;
  justify-content: space-between;
}

.steps_item {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps_icon {
  display: flex;
  justify-content: space-around;
  width: 100px;
  height: 100px;
  background: #f2785c;
  border-radius: 16px;
}

.steps_text {
  font-weight: 400;
  font-size: 20px;
  color: #0D606F;
}

/* section-destinations */

.section-destinations {
  height: 1042px;
  width: 2520px;
  padding-top: 90px;
  margin: 0 auto;
  margin-left: -550px;
}

.dest_photo {

  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.dest_item1 {
  width: 800px;
  height: 800px;
  background: url('assets/img/destination_1.jpg') no-repeat;
}

.dest_item2 {
  width: 800px;
  height: 800px;
  background: url('assets/img/destination_2.jpg') no-repeat;
}

.dest_item3 {
  width: 800px;
  height: 800px;
  background: url('assets/img/destination_3.jpg') no-repeat;
}

.dest_text {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 32px;
  color: #ffffff;
  padding: 700px 0 0 50px;
}

/* section-stories */

.section-stories {
  padding-top: 170px;
  width: 1201px;
  height: 1322px;
}