/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../../assets/fonts/roboto-v30-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/fonts/roboto-v30-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/roboto-v30-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/roboto-v30-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/roboto-v30-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/roboto-v30-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
}
.container {
  margin: 0 auto;
}

p {
  margin: 0;
}

/* ------------ header start ------------ */
.header {
  background-color: #000000;
  color: #ffffff;
  position: relative;
}
.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 10px 12px 10px;
  max-width: 1180px;
}

.logonav_wrapper {
  display: flex;
  justify-content: space-between;
}

.zoo_logo {
  width: 82px;
  height: 52px;
  text-align: center;
  border: 1px solid white;
  padding-top: 2px;
  position: relative;
  margin-right: 64px;
}

h1 {
  margin: 0;
  font-size: 19px;
  font-weight: 400;
  line-height: 23px;
}

.petstory_logo {
  position: absolute;
  top: 24px;
  left: 9px;
}

.nav_list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  gap: 58px;
}

.nav_link, .logo_title, .figma_link {
  text-decoration: none;
  color: #ffffff;
}

.nav_link:hover, .figma_link:hover {
  color: orange;
}

.about_link {
  color: orange;
}

/* ------------ header end ------------ */

/* ------------ section_watch_animal start------------ */

.section_watch_animal {
  background: url('../../assets/images/giant_panda.png') center/cover no-repeat;
  margin-top: -80px;
  padding-top: 80px;
  height: 780px;
  margin-bottom: 12px;
}

.watch_online {
  max-width: 1161px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
  margin-top: 85px;
  text-transform: uppercase;
}

.watch_title_wrapper {
  text-align: center;
  position: relative;
  width: 500px;
}

.watch_title {
  font-weight: 700;
  color:#ffffff;
  font-size: 106px;
  line-height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.orange_circle {
  position: absolute;
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  top: -73px;
  left: -73px;
}

.btn {
  text-transform: uppercase;
  color:#ffffff;
  border: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  cursor: pointer;
  padding: 16px 0px 16px 6px;
  width: 298px;
  font-weight: 500;
  line-height: 22px;
}

.watch_online_btn {
  margin-right: 100px;
  margin-top: 462px;
}

/* ------------ section_watch_animal end ----------- */

/* ------------ section_backstage start ----------- */

.section_backstage {
  position: relative;
}

.flower_foto {
  position: absolute;
  top: 0;
  right: 0;
}

.backstage_wrapper {
  max-width: 1161px;
  margin: 0 auto;
  padding-top: 126px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 87px;
}

.backstage_text {
  display: flex;
  flex-direction: column;
  color: #333B41;
}

h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  margin: 0 0 20px 0;
}

.backstage_text_part1 {
  font-weight: 400;
  margin-bottom: 54px;
  line-height: 21px;
}

.subtitle {
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.backstage_text_part2 {
  font-weight: 400;
  line-height: 22px;
}

/* ------------ section_backstage end ----------- */

/* ------------ section_pets end ----------- */

.section_pets {
  position: relative;
}

.palm_foto {
  position: absolute;
  bottom: 0;
  left: 0;
}

.strelitzia_photo {
  position: absolute;
  bottom: 0;
  right: 0;
}

.pets_wrapper {
  max-width: 1161px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding-bottom: 100px;
}

.pets_photo_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 97px;
  row-gap: 20px;
  column-gap: 30px;
  position: relative;
}

.arrow_wrapper {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  width: 62px;
  height: 62px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.left_btn {
  position: absolute;
  left: -82px;
  top: 500px;
}

.right_btn {
  position: absolute;
  right: -82px;
  top: 500px;
}

.arrow_icon {
  width: 16px;
  height: 8px;
  margin: 0 auto;
}
.pet_card {
  border: 1px solid #FA6F32;
  border-radius: 5px;
}

.card {
  width: 364px;
  height: 364px;
}

.pet_description {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 13px 16px;
}

.banana_icon {
  padding-right: 9px;
}

.meet-fish_icon {
  padding-right: 7px;
}

.pet_description_text {
  display: flex;
  flex-direction: column;
}

.pet_title {
  font-weight: 500;
  line-height: 22.4px;
  text-transform: uppercase;
}

.pet_location {
  font-size: 15px;
  font-size: 300;
  line-height: 15px;
}

.choose_favorite {
  margin: 0 auto;
}

/* ------------ section_pets end ----------- */

/* ------------ section_pick_feed_friend start ----------- */

.section_pick_feed_friend {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding: 69px 220px 100px 220px;
}

.feed_friend_wrapper {
  max-width: 1161px;
  margin: 0 auto;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 41px 0 59px 99px;
  display: flex;
  flex-direction: column;
  color: #333B41;
}

.feed_friend_title {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #FE9013;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  padding-right: 99px;
}

.feed_text1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 40px;
}

.feed_text2 {
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 10px;
}

.feed_text3 {
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 60px;
  padding-right: 198px;
}

.donate_work {
  margin: 0 auto;
  text-align: center;
  padding-right: 99px;
}

h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 46.8px;
  margin: 0;
  margin-bottom: 40px;
}

.donate_description {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 60px;
}

.feed_friend_card {
  display: flex;
  flex-direction: column;
  gap: 26px;
  text-align: start;
  max-width: 168px;
}

.bold_arrow_icon1 {
  margin-bottom: 84px;
}

.bold_arrow_icon2 {
  margin-bottom: 91px;
}

.pay_icon {
  padding: 53px 30px;
  border: 1px solid #F9804B;
  background: #FFFFFF;
  border-radius: 5px;
}

.zoo_icon {
  padding: 35px 41px;
  border: 1px solid #F9804B;
  background: #FFFFFF;
  border-radius: 5px;
}

.monkey_icon {
  padding: 47px 20px;
  border: 1px solid #F9804B;
  background: #FFFFFF;
  border-radius: 5px;
}

.feed_card_description {
  font-weight: 400;
  line-height: 22.4px;
}

.support_link {
  text-decoration: none;
  color: #333B41;
  border-bottom: 1px solid #FE9013;
}

.donate_link_btn {
  text-decoration: none;
  color: #FFFFFF;
}

/* ------------ section_pick_feed_friend end ----------- */

/* ------------ section_testimonials start ----------- */

.section_testimonials {
  position: relative;
}

.testimonials_wrapper {
  max-width: 1161px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 140px 0 180px 0;
}

.testimonials_title {
  margin: 0 auto;
  margin-bottom: 47px;
}

.testimonials_cards {
  display: flex;
  gap: 30px;
  margin-bottom: 4px;
}

.card_top {
  display: flex;
  gap: 10px;
}

.user_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #F1F3F2;
  border-radius: 20px;
}

.user_card_gradient {
  background-image: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding: 2px;
  border-radius: 20px;
}

.user_card1 {
  max-width: 268px;
  padding: 14px 12px 19px 16px;
}

.user_card2 {
  max-width: 268px;
  padding: 14px 11px 19px 16px;
}

.user_card3 {
  max-width: 267px;
  padding: 14px 11px 19px 16px;
}

.user_card4 {
  max-width: 268px;
  padding: 14px 11px 19px 16px;
}

.user_location_wrapper {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #BDBDBD;
  display: flex;
  gap: 5px;
  text-align: center;
}

.user_review {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: gray;
  text-align: start;
}

.scroll_bar_wrapper {
  max-width: 600px;
  overflow-x: auto;
  margin: 0 auto;
  margin-bottom: 30px;
}
.scroll_bar {
  visibility: hidden;
  width: 3100px;
}
.scroll_bar_wrapper::-webkit-scrollbar {
  height: 8px;
  background: #F5F7F6;
  border-radius: 5px;
}
.scroll_bar_wrapper::-webkit-scrollbar-thumb {
  background: #FE9013;
  border-radius: 5px;
}

.feed_friend_btn {
  border-radius: 5px;
}

.leav_foto {
  position: absolute;
  bottom: -134px;
  right: 0;
}

/* ------------ section_testimonials end ----------- */

.footer {
  background-color: #000000;
  color: #ffffff;
  height: 443px;
  position: relative;
}