/* amarante-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Amarante';
  font-style: normal;
  font-weight: 400;
  src: url('../src/fonts/amarante-v23-latin-regular.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: sans-serif;
  min-height: 100vh;
  background: center/cover no-repeat, rgba(0, 0, 0, 0.5);
  background-image: url('../src/img/news_bg.png');
  background-blend-mode: multiply;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

header {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
}

header h1 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  font-family: 'Amarante';
  text-shadow: 2px 2px 4px #70d6ff, 0 0 5px #70d6ff;
}

main {
  flex: 1 0 auto;
}

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex: 0 0 auto;
}
footer .copyright {
  font-size: 14px;
  color: #999;
  text-align: center;
}
footer .copyright a {
  color: #777;
}
footer .copyright a:hover {
  color: #999;
}
footer .copyright:before {
  content: '©';
}
.github-logo {
  filter: invert(1);
  width: 40px;
  height: 40px;
}
.rsschool-logo {
  width: 80px;
  height: 45px;
}
.news-logo {
  width: 100px;
  height: 100px;
}
.github-logo:hover,
.rsschool-logo:hover {
  position: relative;
  bottom: 3px;
}
.news-logo:hover {
  transform: scale(1.1);
}
