/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../../assets/fonts/roboto-v30-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/fonts/roboto-v30-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/roboto-v30-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/roboto-v30-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../../assets/fonts/roboto-v30-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/fonts/roboto-v30-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/roboto-v30-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/roboto-v30-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/roboto-v30-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/roboto-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/roboto-v30-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
}

.container {
  margin: 0 auto;
}

p {
  margin: 0;
}

.mobile_wrapper {
  position: fixed;
  visibility: hidden;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 90;

  transition: all .3s;
}
.mobile_wrapper_popup {
  position: fixed;
  visibility: hidden;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 90;

  display: none;
  transition: all .3s;
}
.popup_active {

  visibility: visible;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
/* ------------ header start ------------ */
.header {
  background-color: #000000;
  color: #ffffff;
  position: relative;
  z-index: 50;
}
.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 12px 13px 10px;
  max-width: 1180px;
}

.logonav_wrapper {
  display: flex;
  justify-content: space-between;
}

.zoo_logo_wrapper {
  width: 65.6px;
  height: 41.6px;
  text-align: center;
  border: 1px solid white;
  border-radius: 2px;
  position: relative;
  filter: invert(40%) sepia(90%) saturate(1000%);
  transition: all .1s;
  display: none;
}

.zoo_logo_wrapper:hover {
  filter: invert(50%);
}

.petstory_logo3 {
  position: absolute;
  width: 7px;
  height: 20px;
  top: 15px;
  left: 9.5px;
}

.logo_title3 {
  font-size: 15.21px;
  font-weight: 400;
  line-height: 18.25px;
  text-decoration: none;
}

.zoo_logo {
  width: 82px;
  height: 52px;
  text-align: center;
  border: 1px solid white;
  padding-top: 2px;
  position: relative;
  margin-right: 64px;
  transition: .1s;
}

.zoo_logo:hover {
  transform: scale(1.05);
  filter: invert(40%) sepia(90%) saturate(1000%);
}

h1 {
  margin: 0;
  font-size: 19px;
  font-weight: 400;
  line-height: 23px;
}

.petstory_logo {
  position: absolute;
  top: 24px;
  left: 9px;
}

.nav_list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  gap: 58px;
}
.nav_item:nth-child(7) {
  display: none;
}
.burger_menu {
  width: 18px;
  height: 10px;
  position: relative;
  cursor: pointer;
  display: none;
}
.burger_line {
  position: absolute;
  right: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}
.line_first {
  top: 0;
}
.line_second {
  top: 50%;
  transform: translateY(-50%);
}
.line_third {
  bottom: 0;
}
.is_active2 {
  background-color: #000000;
  opacity: 0;
}
.is_active1 {
  transform: translateY(4px) rotate(45deg);
  background-color: #000000;
}

.is_active3 {
  transform: translateY(-4px) rotate(-45deg);
  background-color: #000000;
}

.nav_link,
.logo_title,
.figma_link {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  transition: .3s ease-out;
}

.nav_link:after,
.figma_link:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: orange;
	content: "";
	transition: width .3s ease-out;
}

.nav_link:hover:after,
.nav_link:focus:after,
.figma_link:focus:after,
.figma_link:hover:after {
	width: 100%;
}

.active_link {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  cursor: default;
}
.active_link:hover:after,
.active_link:focus:after {
	width: 0%
}

/* ------------ header end ------------ */
/* ------------ footer start ----------- */

.footer {
  background-color: #000000;
  color: #ffffff;
  position: relative;
}

.footer_container {
  max-width: 1181px;
  padding: 41px 10px 50px 10px;
}

.petstory_logo_wrapper {
  width: 82px;
  height: 52px;
  text-align: center;
  border: 1px solid white;
  position: relative;
  margin-right: 64px;
  transition: .1s;
}

.petstory_logo_wrapper:hover {
  transform: scale(1.05);
  filter: invert(40%) sepia(90%) saturate(1000%);
}

.petstory_logo2 {
  position: absolute;
  top: 21px;
  left: 10px;
}

.logo_title2 {
  font-size: 19px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
}

.footer_top {
  display: flex;
  justify-content: space-between;
}

.footer_top_left {
  display: flex;
  flex-direction: column;
  gap: 68px;
}

.footer_top_right {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.subtitle2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.enter_email {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.email {
  border: 0.7px solid #FE9013;
  border-radius: 2px;
  outline: none;
  appearance: none;
  background: none;
  color: #BDBDBD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  padding-right: 33px;
}

.submit_btn {
  padding: 10px 39px;
  cursor: pointer;
  background-color: #ffffff;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  transition: .2s;
}

.submit_btn:hover {
  transform: scale(1.05);
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
}

.social_nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 0;
  margin: 0;
}
.nav2 {
  display: none;
}

.social_nav_link {
  display: flex;
  gap: 12px;
  align-items: center;
  font-weight: 400;
  line-height: 22px;
}

.soc_web {
  text-decoration: none;
  color: #ffffff;
  transition: .1s;
}

.footer_icon_wrapper {
  background: rgba(196, 196, 196, 0.5);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: .1s;
}

.social_nav_link:hover {
  cursor: pointer;
}

.social_nav_link:hover .soc_web {
  color: orange;
}

.social_nav_link:hover .footer_icon_wrapper {
  background: rgb(206, 134, 0);
  transform: scale(1.1);
}

.social_nav_link:hover .social_logo {
  filter: invert(100%);
}

.social_nav_link:active .soc_web,
.social_nav_link:focus .soc_web {
  color: green;
}
.social_nav_link:active .footer_icon_wrapper,
.social_nav_link:focus .footer_icon_wrapper {
  background: green;
}

.social_nav_link:active .social_logo,
.social_nav_link:focus .social_logo {
  filter: invert(0%);
}

/*.soc_web:hover {
  color: orange;
}

.footer_icon_wrapper:hover {
  background: rgb(206, 134, 0);
}

.footer_icon_wrapper:hover .social_logo {
  filter: invert(100%);
}*/

.social_logo {
  margin: 0 auto;
}

.footer_nav {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-content: flex-end;
  padding: 0;
  margin: 0;
  margin-left: 118px;
  gap: 58px;
}

.footer_nav_item {
  padding-bottom: 3px;
}
.project_author {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 100;
  line-height: 22px;
  cursor: pointer;
  gap: 10px;
  opacity: 0.5;
}

.project_author:hover {
  color:#E47209;
}

.project_author:active {
  color:#4B9200;
}

/* ------------ footer end ----------- */

/* --- media queries start --- */

@media (max-width: 1000px) {

  .header_container {
    max-width: 960px;
  }
  .footer_container {
    max-width: 960px;
    padding: 42px 10px 49px 10px;
  }
  .footer_nav {
    gap: 48px;
  }
  .nav_list {
    gap: 48px;
  }
  .footer_top_right {
    padding-right: 29px;
    padding-left: 15px;
  }
  .footer_nav {
    margin-left: 105px;
  }
  .project_author {
    padding-left: 10px;
  }
}

@media (max-width: 870px) {
  .header{
    z-index: 1000;
  }
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    background-color: #ffffff;
    min-width: 100%;
    min-height: 329px;
    z-index: 9999;
    transition: all .5s;
    transform: translateY(-100%);
  }
  .open_menu {
    transform: translateY(0);
  }
  .burger_active {
    top: 0;
    right: 0;
    z-index: 9999;
  }
  .nav {
    padding-left: 10px;
    padding-top: 10px;
  }
  .header_link {
    color: #000000;
  }
  .header_link.active_link {
    background: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    cursor: pointer;
  }
  .header_link.active_link:hover::after {
    width: 100%;
  }
  .nav_list {
    flex-direction: column;
    gap: 18.2px;
    margin: 0;
  }
  .nav_item:nth-child(7) {
    display: block;
  }
  .figma_link {
    color: #000000;
  }
  .disigned_by {
    display: none;
  }
  .burger_menu {
    display: block;
  }
  .zoo_logo_wrapper {
    display: block;
    margin-bottom: 15px;
  }
  .zoo_logo {
    width: 46.86px;
    height: 29.03px;
    border: none;
  }
  h1 {
    font-size: 12px;
    line-height: 14.75px;
  }
  .petstory_logo {
    position: absolute;
    width: 6px;
    height: 16px;
    top: 14px;
    left: 5px;
  }
}
@media (max-width: 830px) {
  .mobile_wrapper_popup {
    display: block;
  }
}
@media (max-width: 640px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .header_container {
    padding: 2.5px 20px;
  }
  .footer_container {
    padding: 13px 20px 12px 20px;
  }
  .subtitle2 {
    display: none;
  }
  .enter_email {
    display: none;
  }
  .nav1 {
    display: none;
  }
  .nav2 {
    display: flex;
    gap: 20px;
  }
  .footer_top_right {
    padding-right: 0;
    padding-left: 0;
  }
  .footer_top_left {
    gap: 32px;
  }
  .footer_nav {
    margin-left: 0;
    gap: 37px;
  }
}
@media (max-width: 460px) {
  .footer_top {
    position: relative;
  }
  .footer_top_right {
    position: absolute;
    top: 27%;
    left: 18%;
  }
  .footer_top_left {
    gap: 86px;
  }
  .nav2 {
    flex-direction: row;
    gap: 30px;
  }
  .header_container {
    padding: 2.5px 10px;
  }
  .footer_container {
    padding: 22px 11px 20px 10px;
  }
  .petstory_logo_wrapper {
    width: 128px;
    height: 23px;
    border: none;
    margin: 0 auto;
  }
  .petstory_logo2 {
    position: absolute;
    top: -5px;
    left: 72px;
  }
  .footer_bottom {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .footer_nav {
    gap: 30px;
  }
  .project_author {
    text-align: end;
    font-size: 15px;
    line-height: 18px;
    gap: 13px;
  }
  .project_author > span:nth-child(1) {
    padding-right: 7px;
  }
  .footer_nav {
    margin: 0 auto;
  }
}

/* --- media queries end --- */