* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("assets/img/home_cthulthu.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.main_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.ancients_cards_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  min-width: 40%;
  padding: 20px;
}
.card1 {
  background-image: url("assets/img/Ancients/Azathoth.jpg");
}
.card2 {
  background-image: url("assets/img/Ancients/Cthulthu.jpg");
}
.card3 {
  background-image: url("assets/img/Ancients/IogSothoth.jpg");
}
.card4 {
  background-image: url("assets/img/Ancients/ShubNiggurath.jpg");
}
.card_active {
  border: 2px solid red;
}
.card {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  width: 200px;
  height: 260px;
  border-radius: 15px;
  box-shadow: 2px 2px 8px rgba(255,255,255,0.5);
}
.difficulty_level_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  justify-content: center;
  color: white;
  display: none;
}
.difficulty_level {
  border: 2px solid white;
  box-sizing: border-box;
  cursor: pointer;
  padding: 5px;
  text-align: center;
}
.level3 {
  background-color: brown;
}
.cards_wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  min-width: 30%;
  color: white;
}
.deck_wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  display: none;
}
.cards_button {
  border: 2px solid white;
  box-sizing: border-box;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  display: none;
}
.current_state {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 30%;
}
.stage_wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.dots_wrapper {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.dot {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}
.green {
  background-color: green;
}
.brown {
  background-color: brown;
}
.blue {
  background-color: blue;
}
.cards_deck {
  background-image: url("assets/img/mythicCardBackground.jpg");
  background-size: cover;
  height: 190px;
  width: 130px;
  cursor: pointer;
  border-radius: 15px;
}
.current_card {
  background-size: cover;
  height: 190px;
  width: 130px;
  cursor: pointer;
  border-radius: 15px;
}