html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: bisque;
  font-size: 1rem;
}
.mem_container {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.mem_container__line {
  height: 2px;
  width: 100%;
  background-color: rgb(182, 182, 182);
}
.mem_container__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow_btn {
  width: 25px;
  height: 25px;
  transition: all 0.3s;
}
.prog_img {
  width: 0;
  height: 0;
  transition: all 0.4s;
}
h1 {
  text-align: start;
  margin: 12px 0;
}
.mem_container__title {
  font-size: 1.2rem;
  font-weight: 700;
  padding-top: 0.9rem;
  color:rgb(14, 14, 192);
  transition: all 0.4s;
}
.mem__input:checked~label .prog_img,
.mem_container__item:hover .prog_img {
  width: 50%;
  height: 50%;
  padding: 10px 0;
}
.mem__input:checked~label .arrow_btn,
.mem_container__item:hover .arrow_btn {
  transform: rotate(-90deg);
}
.mem__input:checked~label .mem_container__title{
  color: black;
}
.mem_container__item,
.mem_container__btn,
.prog_img {
  cursor: pointer;
}
.mem_container:hover .mem_container__title {
  color: black;
}
.mem_container:hover .arrow_btn {
  background: url('../assets/arrow_right.svg') center/cover no-repeat;
}