html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-weight: 700;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: bisque;
}

.header_container,
.main_container,
.footer_container {
  max-width: 600px;
  padding: 10px;
  margin: 0 auto;
}

.header_container {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
}

.game_stats {
  max-width: 200px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-bottom: 15px;
}

.game_field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 600px;
  margin: 0 auto;
  border: 1px solid rgb(160, 130, 93);
}

.game_number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24%;
  margin: 0.5%;
  flex-basis: 24%;
  background-color: rgb(0, 0, 189);
  color: white;
  font-size: 68px;
  text-shadow: 2px 2px 4px black, 0 0 5px black;
  border: 7px outset rgb(59, 59, 187);
  border-radius: 5px;
  cursor: pointer;
}

.move_left {
  transform: translateX(-104%);
}
.move_right {
  transform: translateX(104%);
}
.move_top {
  transform: translateY(-104%);
}
.move_bottom {
  transform: translateY(104%);
}

.current_field_size {
  max-width: 200px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 10px;
}

.footer_container {
  max-width: 400px;
  display: flex;
  justify-content: space-around;
}

.sizes_wrapper {
  display: flex;
  gap: 5px;
}