/* press-start-2p-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/press-start-2p-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/press-start-2p-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/press-start-2p-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/press-start-2p-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/press-start-2p-v15-latin-regular.ttf') format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'digital';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/digital-7.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blue-bg {
  background: url('../images/bg-blue.jpg') center/cover no-repeat;
}
.gray-bg {
  background: url('../images/bg.jpg') center/cover no-repeat;
}
.game,
.header,
.footer {
  display: flex;
  justify-content: center;
}
.game_popup {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 380px;
  padding: 30px 10px;
  opacity: 0;
  visibility: hidden;
  z-index: 20;
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  transition: all .3s;
}
.popup_active {
  opacity: 1;
  visibility: visible;
}
.hidden_wrapper,
.hidden_wrapper_save {
  position: fixed;
  visibility: hidden;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  transition: all .3s;
}
.hidden_wrapper_active {
  visibility: visible;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
.header__container,
.footer__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
  max-width: 486px;
  width: 100%;
}
.game__button {
  font-family: 'Press Start 2P';
  font-size: 14px;
  border: 4px outset;
  padding: 10px;
  cursor: pointer;
}
.game__button:active {
  border: 4px inset;
  transform: scale(0.9);
}
.game__button:hover {
  filter: brightness(80%);
}
.btn-gray {
  background-color:  rgb(200, 200, 200);
  border-color: rgb(224, 216, 216);
}
.btn-blue {
  background-color: rgb(43, 119, 233);
  border-color: rgb(73, 141, 243);
}
.btn-blue:active {
  border: 4px inset rgb(33, 118, 245);
}
.btn-gray:active {
  border: 4px inset rgb(224, 216, 216);
}
.game__container {
  position: relative;
  max-width: 486px;
  display: flex;
  flex-direction: column;
  border: 4px outset;
  background-color: rgb(185, 185, 185);
}
.game__stats {
  padding: 10px 10px 0 10px;
  margin: 0 auto;
  width: 100%;
}
.game__settings {
  padding: 0 10px 10px 10px;
  margin: 0 auto;
  width: 100%;
}
.game__stats-wrapper,
.game__settings-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 4px inset;
  padding: 10px;
}
.game__moves-count,
.game__timer-time,
.game__bombs-count {
  width: 90px;
  font-family: 'digital', sans-serif;
  font-size: 56px;
  padding: 3px;
  background-color: black;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game__bombs-title,
.game__moves-title,
.game__timer-title {
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 12px;
}
.game__wrapper {
  padding: 10px;
}
.game__field {
  display: flex;
  flex-wrap: wrap;
  border: 4px inset;
}
/* .game__field-row {
  display: flex;
} */
.game__cell {
  font-family: 'Press Start 2P';
  cursor: pointer;
}
.footer__settings-bombs {
  width: 155px;
  border: 2px outset;
  background-color: rgb(200, 200, 200);
  padding: 10px;
}
.level-active {
  background-color:red;
  border: 4px outset red;
}
.level-active:active {
  border: 4px inset red;
}
.cell-1 {
  color:blue;
}
.cell-2 {
  color: green;
}
.cell-3 {
  color: red;
}
.cell-4 {
  color:darkblue;
}
.cell-5 {
  color: brown;
}
.cell-6 {
  color:darkcyan;
}
.cell-7 {
  color:darkviolet;
}
.cell-8 {
  color:dimgrey;
}
.flag {
  background: url('../icons/red-flag.png') center/cover no-repeat;
}
.game__settings-volume {
  position: relative;
  width: 40px;
  height: 40px;
}
.game__settings-volume::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 5px;
  background: url("../icons/audio_volume.svg") no-repeat center/contain;
  width: 30px;
  height: 20px;
}
.game__settings-volume.click_mute::before {
  background-image: url("../icons/audio_volume_mute.svg");
}
.easy {
  width: 45px;
  height: 45px;
  font-size: 16px;
  border-width: 4px;
  border-style: outset ;
}
.medium {
  width: 30px;
  height: 30px;
  font-size: 14px;
  border: 3px outset;
}
.hard {
  width: 18px;
  height: 18px;
  font-size: 9px;
  border: 2px outset;
}
.gray-theme {
  background-color: rgb(124, 122, 122);
  border-color: rgb(170, 163, 163);
}
.blue-theme {
  background-color: rgb(0, 60, 150);
  border-color: rgb(54, 97, 161);
}
/* .game__cell:active {
  border: 1px solid gray;
  background-color: rgb(179, 179, 179);
} */
.checked {
  border: 1px solid gray;
  background-color: rgb(179, 179, 179);
}
.game-over {
  background: red url('../icons/mine.png') center/cover no-repeat;
}