@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  src:  local("Georgia"),
        url('../../assets/fonts/georgia-regular.ttf') format("truetype"),
        url('../../assets/fonts/Georgia.woff') format("woff"),
        url('../../assets/fonts/Georgia.woff2') format("woff2");
}
@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src:  local("Arial"),
        url('../../assets/fonts/arial-regular.ttf') format("truetype"),
        url('../../assets/fonts/ArialMT.woff') format("woff"),
        url('../../assets/fonts/ArialMT.woff2') format("woff2");
}
@font-face {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  src:  local("Arial"),
        url('../../assets/fonts/arial-italic.ttf') format("truetype"),
        url('../../assets/fonts/Arial-ItalicMT.woff') format("woff"),
        url('../../assets/fonts/Arial-ItalicMT.woff2') format("woff2");
}

html {
  scroll-behavior: smooth;
  overflow-y: overlay;
}
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: 'Arial';
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 80px 40px 100px 40px;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}

/* ------------ header start ------------ */
.header {
  position: relative;
}
.header__container {
  max-width: 1280px;
  padding: 0 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  color: #F1CDB3;
  font-family: 'Georgia';
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 2px;
  margin: 0 0 8px 0;
}
.logo_subtitle {
  color: #FFFFFF;
  font-family: 'Arial';
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1.3px;
  padding-left: 4px;
}
.nav_list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0 2px 4px 0;
  gap: 35px;
}
.nav_link {
  font-family: 'Arial';
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: #CDCDCD;
  position: relative;
  transition: all .3s ease-in-out;
}
.nav_link:hover,
.nav_link:focus {
	color: #FAFAFA;
}
.nav_link:after {
  display: block;
	position: absolute;
	left: 0;
  width: 100%;
	height: 3px;
	background-color: #F1CDB3;;
	content: "";
  opacity: 0;
  transition: all .3s ease-in-out;
}
.nav_link:active:after {
  opacity: 1;
}
.active_link {
  color: #FAFAFA;
  cursor: default;
}
.active_link:after {
	display: block;
	position: absolute;
	left: 0;
  width: 100%;
	height: 3px;
	background-color: #F1CDB3;;
	content: "";
  opacity: 1;
}
.burger_menu {
  width: 30px;
  height: 22px;
  position: relative;
  cursor: pointer;
  display: none;
  z-index: 9999;
}
.burger_line {
  position: absolute;
  right: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #F1CDB3;
  transition: all .3s ease-in-out;
}
.line_first {
  top: 0;
}
.line_second {
  top: 50%;
  transform: translateY(-50%);
}
.line_third {
  bottom: 0;
}
/* ------------ header end ------------ */
/* ------------ footer start ------------ */
.footer__container {
  max-width: 1280px;
  padding: 40px 40px 0 40px;
  display: flex;
  justify-content: space-between;
  gap: 13.3%;
}
.footer {
  background: url('../../assets/images/noise_transparent@2x.png'),
              radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 39px;
  max-width: 279px;
}
.footer__location {
  /*flex: 0 0 25%;*/
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-right: 1px;
  max-width: 302px;
}
.footer__item {
  display: flex;
  gap: 20px;
  align-items: center;
  transition: all .3s ease-in-out;
}
.footer__title {
  color: #FFFFFF;
  padding-top: 16px;
}
.footer__subtitle {
  color: #F1CDB3;
  font-family: 'Georgia';
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 1.2px;
}
.footer__contacts_icon {
  width: 40px;
  height: 32px;
}
.footer__img {
  display:flex;
  flex: 0 0 25%;
}
.footer__item:hover {
  filter: brightness(115%);
}
/* ------------ footer end ------------ */

@media (max-width: 1220px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: center ;
  }
  .footer__img {
    margin-top: 65px;
  }
  .footer__title {
    padding-top: 0;
  }
}
@media (max-width: 780px) {
  .container {
    padding: 80px 30px 100px 30px;
  }
  .header__container {
    padding: 0 30px 0 30px;
  }
  .footer__container {
    padding: 30px 30px 0 30px;
    column-gap: 60px;
  }
  .footer__contacts {
    gap: 40px;
  }
}
@media (max-width: 767px) {
  .header {
    z-index: 1000;
  }
  .header__container {
    padding: 0 20px;
  }
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    background-color: #292929;
    width: 320px;
    min-height: 100%;
    z-index: 9999;
    transition: all .5s;
    transform: translateY(100%);
  }
  .open_menu {
    transform: translateY(0);
  }
  .burger_menu {
    display: block;
  }
  .nav_list {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 248px 38px 0 39px;
  }
  .nav_link {
    font-size: 32px;
    line-height: 52.45px;
  }
}