@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/georgia-regular.ttf');
}
@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/arial-regular.ttf');
}
@font-face {
  font-family: 'Arial';
  font-style: italic;
  src: url('../../assets/fonts/arial-italic.ttf');
}

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: 'Arial';
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
}
.container {
  margin: 0 auto;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}

/* ------------ header start ------------ */
.header {
  position: relative;
}
.header__container {
  max-width: 1240px;
  padding: 0 20px;
  margin-top: 60px;
}
h1 {
  color: #F1CDB3;
  font-family: 'Georgia';
  font-size: 32px;
  font-weight: 400;
  line-height: 35.2px;
  letter-spacing: 2px;
  margin: 0 0 9px 0;
}
.logo_subtitle {
  color: #FFFFFF;
  font-family: 'Arial';
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1.3px;
  padding-left: 4px;
}

/* ------------ header end ------------ */